
MerchantCenter/TestCase/WeMall/OpenAPI/ProductAPI/log\.html

MerchantCenter/TestCase/WeMall/OpenAPI/ProductAPI/output\.xml

MerchantCenter/TestCase/WeMall/OpenAPI/ProductAPI/report\.html

MerchantCenter/TestCase/WeMall/OpenAPI/StoreAPI/log\.html

MerchantCenter/TestCase/WeMall/OpenAPI/StoreAPI/output\.xml

MerchantCenter/TestCase/WeMall/OpenAPI/StoreAPI/report\.html

MerchantCenter/TestCase/WeMall/OpenAPI/StoreAPI/Strore\.html

MerchantCenter/TestCase/WeMall/OpenAPI/StoreAPI/Strore\.xml
